body {
	background-color: white;
	margin: 0;
}
#paneWithLogo {
	text-align: left;
	background-color: #002f34;
	height: 80px;
	color: white;
	margin: 0;
}

#userPane > a:link, #userPane > a:visited {
	background: white;
	color: #002f34;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	font-family: Verdana;
	border-radius: 10px;
	border: 3px solid white;
  	right: 5px;
  	 margin: 0;
  	padding: 8px;
 	 position: absolute;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}	

#userPane > a:hover {
	background: #002f34;
	color: white;
	text-decoration: none;
	transition: 0.2s
}

#logoBox {
	float: left;
	width: 60%;
	height: 100%;
	position: relative;
}

#logoBox > a > img {
	margin: 0;
  	position: absolute;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	height: 100%;
  	width: 25%;
}

#myAccount {
	float:left;
	width: 20%;
	height: 100%;
	position: relative;
}

#myAccount > a:link, #myAccount > a:visited {
	background: white;
	color: #002f34;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	font-family: Verdana;
	border-radius: 10px;
	border: 3px solid white;
	right: 5px;
	margin: 0;
	padding: 8px;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#myAccount > a:hover {
	background: #002f34;
	color: white;
	text-decoration: none;
	transition: 0.2s
}

#userPane {
	float: left;
	width: 20%;
	height: 100%;
	position: relative;
}

#userInput {
	float: left;
	width: 100%;
	/*background-color: black;*/
	margin: 0;
	height: 600px;
	text-align: center;
/*	background-color: #41aafa;
*/}

#userFormBox {
	background: white;
	height: 500px;
	width: 50%;
	display: inline-block;
	margin-top: 100px;
	text-align: center;
	border: 4px solid #002f34;
}

#userFormBox p {
	margin-top: 0;
	font-family: Verdana;
	font-size: 25px;
	font-weight: bold;
	color: #002f34;
	border-bottom: 4px solid #002f34;
}


input {
	display: inline-block;
	height: 25px;
	width: 400px;
}

input[type=text]:focus, input[type=number]:focus {
	border: 3px solid #555;
	transition: 0.1s;
}

input[type=submit] {
	background-color: #002f34;
	color: white;
	font-family: Verdana;
	font-size: 15px;
	height: 30px;
	width: 200px;
	border: 1px solid white;
}

input[type=submit]:hover {
	border: 1px solid #002f34;
	transition: 0.3s;
}

#profileInfo {
	clear: both;
	color: #002f34;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #002f34;
	margin: auto;
	width: 50%;
	text-align: center;
}

#offers {
	clear: both;
	width: 50%;
	margin: auto;
	text-align: center;
	color: #002f34;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #002f34;
}