<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<title>Online shop</title>
	<script type="text/javascript" src="script.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
</head>
<body>
	<div id="paneWithLogo">
		<div id="logoBox">
			<a href="index.html" th:href="@{/}">
				<img th:src="@{/images/logo.png}">
			</a>
		</div>
		<div id="myAccount">
			<a th:href="@{/myAccount}">Mój profil</a>
		</div>
		<div id="userPane">
			<a th:href="@{/offer/add}">Dodaj ogłoszenie</a>
		</div>
		<div id="offers">
			<div th:each="offer : ${offers}">
				<p th:text="${offer.name}"></p>
				<p th:text="${offer.description}"></p>
			</div>
		</div>
	</div>
</body>
</html>