<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<title>Online shop</title>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
	<div id="paneWithLogo">
		<div id="logoBox">
			<a th:href="@{/}">
				<img th:src="@{/images/logo.png}" alt="Picture can't be displayed">
			</a>
		</div>
		<div id="myAccount">
			<a th:href="@{/myAccount}">Mój profil</a>
		</div>
		<div id="userPane">
			<a href="#">Dodaj ogłoszenie</a>
		</div>
	</div>

	<div id="userInput">
		<div id="userFormBox">
			<p>Twoje ogłoszenie</p>

			<form method="post" th:object="${offer}">
				<input type="text" name="nazwa-oferty" placeholder="Nazwa oferty" th:field="*{name}">
				<br>
				<input type="text" name="opis-oferty" placeholder="Opis oferty" th:field="*{description}">
				<br>
				<input type="number" name="cena" placeholder="Cena" th:field="*{price}">
				<br>
				<input type="submit" value="Dodaj">
			</form>
		</div>
	</div>
</body>
</html>